* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
	background: rgba(0,0,0,0.5);
}
.navbar-nav a {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: #fff;
}


.navbar-nav {
	text-align: center;
}

.nav-link {
	padding: .2rem 1rem;
}

#navbarSupportedContent a {
			z-index: 2;
			color: #fff;
}


@media only screen and (min-width: 1000px) {
		#navbarSupportedContent li {
			position: relative;
			display: flex;
		}

		#navbarSupportedContent li:before {
			content: "";
			position: absolute;
			height: 35.33%;
			width: 0%;
			background-color: #0D7CFF;
			right: 0;
			z-index: 0;
			top: 33.33%;
			transition: all 0.5s;
		}

		#navbarSupportedContent li:after {
			content: "";
			position: absolute;
			height: 35.33%;
			width: 0%;
			background-color: #0D7CFF;
			left: 0;
			z-index: 0;
			bottom: 0;
			transition: all 0.5s;
		}

		#navbarSupportedContent a:before {
			content: "";
			position:absolute;
			z-index: -1;
			height: 35.33%;
			width: 0;
			background-color: #0D7CFF;
			bottom: 66.66%;
			left: 0;
			transition: all 0.5s;
		}

		#navbarSupportedContent li:hover:before , #navbarSupportedContent li:hover:after , #navbarSupportedContent li:hover a:before{
			width: 100%
		}  

		#navbarSupportedContent ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-around;
		}
}

@media only screen and (max-width: 770px) {
	.navbar-toggler {
		padding: 1px 5px;
		font-size: 18px;
		line-height: 0.3;
		background: #fff;
	}


}


.navbar-brand img {
	height: 50px;
	border-radius: 50%;  
}



#landing-page {
	position: relative;
	width: 100%;
	min-height: 125vh;
	height: 90%;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: center;
	background-color: white;
	margin-bottom: 0;
}

#main-section {
	position: relative;
	width: 100%;
	min-height: 100vh;
	height: 90%;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: center;
	background: rgba(0, 0, 0, 0);
	margin-bottom: 0;
	padding-top: 100px;
}

#contact-section {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: center;
	background-color: white;
	margin-bottom: 0;
}

#menu {
	opacity: 0.6;
}

#landing-page #job_title {
	color: white;
	letter-spacing: 10px;
}


#landing-page .video-container  {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}

 #main-section .video-container {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}



 #landing-page .overlay , #main-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}



#contact-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  opacity: 0.1;
}


#main-section .video-container video , #landing-page .video-container video {
	object-fit: cover;
}

#slogan-group {
	font-family: Calibri, sans-serif;
	color: white;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

}

#landing-page .container {
font-family: 'Titillium Web', sans-serif;
z-index: 2;
color: #fff;
display: flex;
flex-wrap: wrap;
justify-content: center;
position: relative;
bottom: 80px;

}


#landing-page h1 {
	color: white;
	letter-spacing: 1px;
}


@media only screen and (max-width: 320px) {
 #landing-page h1 {
    font-size: 3.25rem;
  }
}


#foot , #copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#landing-page h5 {
	color: yellow;
}

#landing-page #fb-page {
	display: flex;
	flex-direction: row;
}

footer {
	position: absolute;
	position: static;
	bottom: 0;
	width: 100%;
	justify-content: center;
	background: rgba(50, 54, 68);
  border-top-style: solid;
   border-top-width: 5px ;
   border-top-color: #6dccde;
  margin: 0;
  padding: 0; 
  z-index: 3;
}

#footer {
	background: rgba(50, 54, 68);
	display: flex;
	flex-wrap: wrap;
}

#footer p {
	padding-top: 10px;
	color: #888b97;
}



#programs {
	display: flex;
	justify-content: center;
}

#html	{
	background-image: url("../images/html2.png");
}

#css {
	background-image: url("../images/css2.png");
}

#bs {
	background-image: url("../images/bootstrap2.png");
}

#gitlab {
	background-image: url("../images/gitlab2.png");
}

#google {
	background-image: url("../images/google2.png");
}

#javascript {
	background-image: url("../images/javascript.png");
}

#mongodb {
	background-image: url("../images/mongo2.png");
}

#expressjs {
	background-image: url("../images/expressjs2.png");
}

#nextjs {
	background-image: url("../images/nextjs.png");
}

#portfolio-section .card .card-body ul , #portfolio-for-css {
	display: none;
	background-color: #fff;
	width: 150px;
	margin: 0 auto;
}

#portfolio-section .card .card-body ul li  {
	list-style: none;
	border: 1px solid;
	border-color: rgb(0, 123, 255); 
}

#portfolio-section .card .card-body ul li a {
	text-decoration: none;
}

#portfolio-section .card .card-body ul li:hover {
	background-color: rgb(0, 123, 255); 
}

#portfolio-section .card .card-body ul li:hover a{
	color: #fff;
	background-color: rgb(0, 123, 255); 
}

#profile-picture {
	height: 35vh;
	border-radius: 50%;
	margin-bottom: 30px;
}

#contact-section {
	position: relative;
	padding: 70px 50px;
}

#profile h2 {
	position: relative;
	color: white;
}

#about-me h1 , #about-me p {
	color: white;
	position: relative;
}

.tech-stack {
	height: 70px;
	margin-top: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

#skill , #profile  {
	text-align: center;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
}

#background_profile {
	position: fixed;
}

#portfolio-title {
	color: white;
	margin: 30px auto;
}

#button {
	margin:	15px;
}

#main-section h3 {
	margin-bottom: 50px;
}

#map-section {
	margin-bottom: 50px;
}

.iframe-container	{
	position: relative;
	overflow: hidden;
	width: 70%;
	padding-top: 56.25%;
	margin: 0 auto;
} 

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

#portfolio-section {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-image: url(../images/wood.jpg);
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding-bottom: 130px;
	margin-bottom: 0;
	justify-content: center;
}

#contact-section {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-image: url(../images/snow-mountains.jpg);
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding-bottom: 130px;
	margin-bottom: 0;
	justify-content: center;
}

.slider{
	max-width: 1150px;
	display: flex;
	cursor: grab;
}

.slider:active{
	cursor: grabbing !important;
}

.card {
	margin: 0 auto;
	width: 270px;
	flex: 1;
}

.card .img {
	width: 100%;
	height: 200px;
}

.card-img-top {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-body {
	padding: 10px 20px;
}

.card-text {
	height: 96px;
}

#portfolio-section .row {
	justify-content:  center;
}


.fa , .sma {
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
}

.fa-facebook {
	color: #888b97;
}

.fa-twitter {
	color: #888b97;
}

.fa-linkedin {
	color: #888b97;
}

.fa-instagram {
	color: #888b97;
}

.fa-pinterest {
	color: #888b97;
}

.fa:hover {
	opacity: 0.7;
}

#social {
	display: flex;
	justify-content: center;
}

 #contact-section .video-container{
 	position: absolute;
	min-width: 100%;
	min-height: 100%
	top: 0;
	left: 0;
	justify-content: center;
 }

 #map-section h3 , #map-section p , #contact-form h3 , #contact-form label {
 	color: white;
 	text-shadow: 5px 5px 5px #000000;
 }


form {
	border: 2px solid;
	padding-top: 25px;
	margin-top: 50px;
	background-color: black;
	background: rgba(0, 0, 0, 0.60);
}

@media only screen and (max-width: 450px) {
 #portfolio-section {
    padding-bottom: 50px;
  }

  #contact-section {
  	width: 100%;
  	padding-left: 15px;
  	padding-right: 15px;
  	padding-bottom: 100px;
  }

  .iframe-container {
  	width: 100%;
  }

  #contain-button {
  	display: flex;
  	justify-content: center;
  }
}

